*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
input,
span {
  font-family: Raleway;
  color: $main;
}

p {
  color: $main;
}

ul {
  list-style: none;
}

button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
}

// Custom scroll

/* width */

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $gray-300;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $gray-500;
}