@import "./variables.scss";
@import "./init";
@import "./general";
@import "./container.scss";
@import "./mixins.scss";

ul,
li {
  list-style-type: none;
}

@font-face {
  font-family: Bitter;
  src: url("~/assets/fonts/Bitter-Italic.ttf");
}

@font-face {
  font-family: Raleway;
  src: url("~/assets/fonts/Raleway.ttf");
}
